h2{
    text-align: center;
    font-size: 100px;
    color: chocolate;
}
h1{
    margin-bottom: 80px;
    font-size: 50px;
    color:red;
}
.container{ 
    display: grid;
    /* grid-template-columns: 200px 100px 200px 200px 150px ; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(2,1fr) 2fr; */
    grid-template-columns: 200px 100px 200px;
    justify-content: center;
}
.item{
    border: 2px solid rgb(240, 221, 51);
    font-size: 30px;
    font-weight: 500;
    background-color: coral;
}
/* Calender related style */
.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,100px);    /*.date{ height: 50px;} */
    row-gap: 30px;
    column-gap: 30px;
}
.date{
    font-size: 2em;
    font-weight: 700;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day{
    font-size: 3em;        /* em= parent font size er 2 gun */
    font-weight: 700;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 10px;
    border-radius: 10px;   
}
/* media query related style */
.media-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.food{
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
}
.food img{
    width:100%
}
/* responsive web design related style */
.responsive-sec{
    border:5px solid blue;
    max-width: 1140px;
    margin: 50px auto 0px;
    font-size: 2em;
    font-weight: 700;
}
.img-container{
    display: flex;
}
.img-container div{
    width: 50%;
}
.img-container img{
    width: 100%;
}
/* Flexible flex related style */
.flexible-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.item-2{
    border: 2px solid rgb(240, 221, 51);
    font-size: 30px;
    font-weight: 500;
    background-color: coral;
    height: 100px;
    width: 100px;
}
/* Picture College related style */
.row img{
    height: 100%;
    width: 100%;  
}
.row div{
    flex: 1;        /* get equal ratio */
}
.row{
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.vartical-collage img{
    /* height: 50%; */
    height: calc((100% - 5px)/2);       /* calc- calculation */
}
.square-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
/* grid box related style */
.gride-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 200px) 50px 50px;
    gap: 20px;
}
.grid-box{
    background-color: rgb(104, 98, 98);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}
#grid-box-1{
   grid-row: span 5;
}
#grid-box-11, #grid-box-12{
    grid-column: span 3;
}
#grid-box-6,#grid-box-7,#grid-box-9, #grid-box-10{
    background-color: rgb(205, 36, 7);
}
/* Gride Layout related style */
.header ,.nav, .main, .sidebar, .advertise, .footer{
    background-color: bisque;
    border: 2px solid tomato;
    border-radius: 10px;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.sidebar{
    grid-area: sidebar;
}
.advertise{
    grid-area: advertise;
}
.footer{
    grid-area: footer;
}
.layout-container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "header header header"
    "nav    main   sidebar"
    "nav    main   advertise"
    "footer footer footer"   
    ;   
}
/* apply media query */
/* Smaller device */
@media screen and (max-width: 576px) {
/* All about media qurry sec */
    .media-container{
        grid-template-columns: repeat(1,1fr);
    }    
/* Responsive web design media query */
    .img-container{
        /* flex-direction: column; */
        flex-direction: column-reverse;       
    }
    .img-container div{
        width: 100%;
    }
/* Picture Collage media query */
    .row{
        flex-direction: column;
        height: auto;
    } 
    .square-collage{
        grid-template-columns: 1fr;
    } 
/* Gride Layout related media query */
    .layout-container{
        grid-template-areas: 
    "header"
    "nav"
    "main"
    "sidebar"
    "advertise"
    "footer";
 }
}

/* Mediam device */
@media screen and (min-width: 576px) and (max-width: 992px){
/* All about media qurry sec */   
    .media-container{
        grid-template-columns: repeat(2,1fr);
    }      
/* Picture Collage media query */
    .row{
        flex-direction: column;
        height: auto;
    }
/* Gride Layout related media query */
.layout-container{
    grid-template-areas: 
      "header        header     header"
      "nav           nav        nav"
      "sidebar       main       main"
      "advertise     footer     footer" ;
}
}