h1{
    margin-bottom: 80px;
    font-size: 50px;
    color:red;
}
.container{ 
    display: grid;
    /* grid-template-columns: 200px 100px 200px 200px 150px ; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(2,1fr) 2fr; */
    grid-template-columns: 200px 100px 200px;
    justify-content: center;
}
.item{
    border: 2px solid rgb(240, 221, 51);
    font-size: 30px;
    font-weight: 500;
    background-color: coral;
}
/* Calender related style */
.calender{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,100px);    /*.date{ height: 50px;} */
    row-gap: 30px;
    column-gap: 30px;
}
.date{
    font-size: 2em;
    font-weight: 700;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day{
    font-size: 3em;        /* em= parent font size er 2 gun */
    font-weight: 700;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 10px;
    border-radius: 10px;   
}
/* media query related style */
.media-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.food{
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
}
.food img{
    width:100%
}
/* Smaller device */
@media screen and (max-width: 576px) {
    .media-container{
        grid-template-columns: repeat(1,1fr);
    }    
}
/* Mediam device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .media-container{
        grid-template-columns: repeat(2,1fr);
    }      
}
/* responsive web design related style */
.responsive-sec{
    border:5px solid blue;
    max-width: 1140px;
    margin: 50px auto 0px;
    font-size: 2em;
    font-weight: 700;
}
.img-container{
    display: flex;
}
.img-container div{
    width: 50%;
}
.img-container img{
    width: 100%;
}
@media screen and (max-width: 576px){
    .img-container{
        /* flex-direction: column; */
        flex-direction: column-reverse;       
    }
    .img-container div{
        width: 100%;
    }
}